li {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
.link {
  color: blue;
  transition: color 250ms linear, text-decoration-color 250ms linear;
  text-decoration: underline;
  text-decoration-color: blue;
}
.link:hover,
.link:focus {
  color: red;
  text-decoration-color: red;
}
